.panel-bienvenida {
  padding: 29px 16px 24px;

  div {
    display: flex;
    justify-content: center;
  }

  .line-through {
    text-decoration-line: line-through;
  }
}

@media (min-width: 768px) {
  .panel-bienvenida {
    padding-left: 200px;

    div {
      display: flex;
      justify-content: left;
    }

    article {
      max-width: 650px;
    }
  }
}
