.invitados {
  position: relative;
  
  h2 {
    padding-left: 10px;
  }

  .container {
    // img {
    //   width: 360px;
    //   height: 243px;
    // }
    .img-col {
      display: flex;
    }

    img {
      width: 100%;
    }

    display: flex;
    flex-direction: column;


    .col-12 {
      box-sizing: border-box; 
      width: calc( 8.33333% * 12);
    }
  }


}

@media (min-width: 768px) {
  .invitados {
    h2 {
      padding-left: 200px;
    }
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      img {
      width: 100%;
    }

      .col-md-4 {
        box-sizing: border-box; 
        width: calc( 8.33333% * 4);
      }

      // img {
      //   width: 480px;
      //   height: 364px;
      // }
    }
  }
}