body {
  margin: 0px;

  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
  }

  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    font-weight: normal;
  }

  h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
  }

  p, a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
  }



  button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
  }


}


// Media query
@media (min-width: 768px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 48px;
  }

  p, a {
    font-size: 16px;
  }

  button {
    font-size: 18px;
  }

}